*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.dvi
*.xdv
*.nav
*.snm
*.vrb

*.bbl
*.blg
*.bcf
*.run.xml
*.idx
*.ind
*.ilg
*.lof
*.lot
*.lol
*.loa
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.txt
.vscode/
*.code-workspace

.DS_Store
Thumbs.db
desktop.ini

latex.out/
build/
_minted-*/

*.pdf
